#users-content{
	display: flex;
}
#users-form{
	margin: 15px;
	flex: 9;
}

#rejectSuccess{
	z-index: 3;
	position: absolute;
	top:52px;
	left:31vw;
	padding: 5px;
	margin-left: 10%;
	border: 1px solid green;
	color: green;
	background-color: white;
}

#confirmSuccess{
	z-index: 3;
	position: absolute;
	top:52px;
	left:31vw;
	padding: 5px;
	margin-left: 10%;
	border: 1px solid green;
	color: green;
	background-color: white;
}

@media only screen and (max-width: 768px) {
	#users-form{
		margin: 0;
		margin-top: 5px;
	}

	#rejectSuccess{
		z-index: 3;
		position: absolute;
		top:52px;
		left:28vw;
		padding: 5px;
		margin-left: 10%;
		border: 1px solid green;
		color: green;
		background-color: white;
	}

	#confirmSuccess{
		z-index: 3;
		position: absolute;
		top:52px;
		left:145px;
		padding: 5px;
		margin-left: 10%;
		border: 1px solid green;
		color: green;
		background-color: white;
	}
}

@media only screen and (max-width: 568px) {
	#rejectSuccess{
		z-index: 3;
		position: absolute;
		top:52px;
		left:10vw;
		padding: 5px;
		margin-left: 10%;
		border: 1px solid green;
		color: green;
		background-color: white;
	}

	#confirmSuccess{
		z-index: 3;
		position: absolute;
		top:52px;
		left:-10vw;
		padding: 5px;
		margin-left: 10%;
		border: 1px solid green;
		color: green;
		background-color: white;
	}
}

aside{
	flex: 0;
}
thead{
	background-color: #5F6060;
	font-family: Calibri;
	font-size: 1.2em;
}
td{
	font-family: calibri;
}
.users-form-row{
	border-bottom: solid #5F6060 2px;
	text-align: center;
	font-family: serif;
}
.users-form-row:nth-child(odd){
	background-color: #F2F2F2;
}
th{
	border-left: solid lightgrey 1px;
	color: lightgrey;
	text-align: center !important;
}
button{
	margin-right: 5px;
	min-width: 45px;
	border: none;
	background-color: transparent;
}
.table{
	width: 75% !important;
	margin: auto;
}

.pageTitle{
	text-align: center;
	font-family: serif;
	font-style: italic;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 30px;
}
