#users-content{
	margin-top: 20px;
	display: flex;
}
#users-form{
	flex: 9;
}
aside{
	flex: 1;
}
thead{
	background-color: #5F6060;
}
tr{
	border-bottom: solid #5F6060 1px;
	text-align: center;
}
th{
	border-left: solid lightgrey 1px;
	color: lightgrey;
	text-align: center !important;
}
button{
	margin-right: 5px;
}