#users-content{
	display: flex;
}
#users-form{
	margin: 15px;
	flex: 9;
}
@media only screen and (max-width: 768px) {
	#users-form{
		margin: 0;
		margin-top: 5px;
	}	
}
aside{
	flex: 0;
}
thead{
	background-color: #5F6060;
	font-family: Calibri;
	font-size: 1.2em;
}
.users-form-row{
	border-bottom: solid #5F6060 2px;
	text-align: center;
	font-family: serif;
}
.users-form-row:nth-child(odd){
	background-color: #F2F2F2;
}
th{
	border-left: solid lightgrey 1px;
	color: lightgrey;
	text-align: center !important;
}
button{
	margin-right: 5px;
	min-width: 45px;
	border: none;
	background-color: transparent;
}
.table{
	width: 75% !important;
	margin: auto;
}