.flexContainer {
	display: flex;
}
html{
	width:100%;
}

aside {
	flex: 1;
}
ng-scope{
witdh:100vw;
}
abbr[data-original-title], abbr[title] {
    cursor: help;
    border-bottom: none;
}
.attendancePageContainer {
	flex: 7;
}
.showDownloadDiv{
	display:block;
	margin:auto;
	text-align: center;
}

.hideDownloadDiv{
	display: none;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
.errorMessage{
	
	display: none;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color:red;
    font-family: Helvetica, Arial, sans-serif;
}
.noInfoMessage{
	display: none;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color:black;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}
.searchBox {
	margin: auto;
	margin-top: 30px;
	border: 1px solid lightgray;
	width: 600px;
	margin-bottom: 20px;
}

.attendanceForm {
	display: flex;
	justify-content: space-around;
	flex-flow: wrap;
	margin: 10px;
}

.inputFieldContainer {
	width: 250px;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.inputFieldLabel {
	width: 125px;
	font-family: serif;
	font-style: italic;
}

.inputField {
	width: 125px;
}

.formColumnOne {
	width: 250px;
	margin: auto;
	margin-top: 0px;
}

.formColumnTwo {
	width: 250px;
	margin: auto;
	margin-top: 0px;
}

.mainContentWrapper {
	margin-left: 10%;
}

.grid {
	margin: auto;
	width: 500px;
	height: 400px;
	display: none;
	overflow: auto;
}

.submitBtn {
	height: 50px;
	width: 200px;
	background-color: #5F6060;
	color: lightgrey;
}

#submitBtn {
	justify-content: space-around;
}




@media ( max-width : 769px) {
	aside {
	width: 0px;
    height: 0px;
    position: absolute;
	}
	
	
}



@media ( max-width : 500px) {
	aside {
	width: 0px;
    height: 0px;
    position: absolute;
	}
	
	.searchBox {
	
	width: 300px;
}
.grid {
	margin: auto;
	width: 300px;
	height: 420px;
	overflow: auto;
}
	
}