.flexContainer {
	display: flex;
}
html{
	width:100%;
}

aside {
	flex: 1;
}
ng-scope{
witdh:100vw;
}
.attendancePageContainer {
	flex: 7;
}
.showDownloadDiv{
	display:block;
	margin:auto;
	text-align: center;
}

.hideDownloadDiv{
	display: none;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}


.searchBox {
	margin: auto;
	margin-top: 30px;
	border: 1px solid lightgray;
	width: 600px;
	margin-bottom: 20px;
}

.attendanceForm {
	display: flex;
	justify-content: space-around;
	margin: 10px;
}

.inputFieldContainer {
	width: 250px;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.inputFieldLabel {
	width: 125px;
}

.inputField {
	width: 125px;
}

.formColumnOne {
	width: 250px;
	margin: auto;
	margin-top: 0px;
}

.formColumnTwo {
	width: 250px;
	margin: auto;
	margin-top: 0px;
}

.mainContentWrapper {
	margin-left: 10%;
}

.grid {
	margin: auto;
	width: 500px;
	height: 420px;
}

.submitBtn {
	height: 50px;
	width: 200px;
	background-color: #5F6060;
	color: lightgrey;
}

#submitBtn {
	justify-content: flex-end;
}

@media ( max-width : 769px) {
	aside {
		width: 0px;
	}
}