@CHARSET "ISO-8859-1";

.hideDownloadDiv {
	display: none;
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
}

.container-fluid{
	padding: 0 !important;
}

#search-bar-container{
	display: flex;
	border: 1px black solid;
	margin-bottom: 20px;
}

.search-bar-column{
	flex: 1;
	padding: 5px;
	padding-left: 100px;
	padding-right: 100px;
}

.pageTitle {
	text-align: center;
	font-family: serif;
	margin-bottom: 10px;
	margin-top: 10px;
	font-style: italic;
	padding-top: 10px;
	padding-bottom: 10px;
}

.budget-search-box-label {
	font-style: italic;
	font-weight: bold;
	font-family: serif;
	font-size: 15px;
	color: grey;
}

.budget-search-box-input {
	float: right;
}

#budgetReportGenerateReportButton{
	float: right;
}

#search-bar-container{
	display: flex;
	border: solid black 1px;
	margin-bottom: 20px;
	width: 80%;
	margin: auto;
	padding: 10px;
}

main{
	display: flex !important;
}

.budgetPageContainer{
	flex: 1;
}

aside{
	flex: 0;
}

#budgetChartGraph{
	display: flex;
	width: 80%;
	margin: auto;
}

#budgetGridContainer{
	flex: 1;
	padding-top: 10px;
}
#budgetChartContainer{
	flex: 0;
}

@media only screen and (min-device-width : 768px) and (max-device-width: 1024px) { 
	main{
		//display: block !important;
	}
	#budgetChartGraph{
		display: block;
		width: 100%;
		margin: auto;
	}
	#budgetGridContainer { 
		overflow-x: auto;
		overflow-y: hidden;
		width: 80%;
		margin: auto;
		padding: 5px;
	}
	.budgetPageContainer {
		width: 100%;
	}
	#search-bar-container{
		display: flex;
		border: solid black 1px;
		margin-bottom: 20px;
		width: 80%;
		margin: auto;
		padding: 10px;
	}
	#budgetGridContainer { 
		overflow-x: auto;
		overflow-y: hidden;
		width: 80%;
		margin: auto;
		padding: 5px;
	}
	.ng-scope{
		flex: 1;
	}
	.hideDownloadDiv {
		margin: auto;
	}
	#budgetChartContainer{
		padding-bottom: 20px;
		padding-top: 20px;
		margin-left: 20px;
	}
	.search-bar-column{
		padding: 5px;
	}
}

/* Iphone 5 */
@media only screen and (min-device-width : 320px) and (max-device-width: 568px) {
	#budgetChartGraph{
		display: flex;
		width: 100%;
		margin: auto;
	}
	.budgetPageContainer {
		width: 100%;
	}
	#search-bar-container{
		display: flex;
		border: solid black 1px;
		margin-bottom: 20px;
		width: 100%;
		margin: auto;
		padding: 10px;
	}
	#budgetGridContainer { 
		overflow-x: auto;
		overflow-y: hidden;
		margin: auto;
		padding: 20px;
		position: absolute;
		width: 100%;
	}
	#budgetGridContainer {
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		margin: auto;
		padding: 5px;
	}
	.hideDownloadDiv {
		margin: auto;
	}
	#budgetChartGraph{
		display: block;
		width: 100%;
		margin: auto;
	}
	.budget-search-box-input {
		float: left;
	}
	.search-bar-column{
		padding: 5px;
	}
}