@CHARSET "ISO-8859-1";

.hideDownloadDiv {
	visibility: hidden;
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
	margin-top: -80px;
}

.container-fluid {
	padding: 0 !important;
}

#search-bar-container {
	display: flex;
	border: 1px black solid;
	margin-bottom: 20px;
}

.search-bar-column {
	flex: 1;
	padding: 5px;
	padding-left: 100px;
	padding-right: 100px;
}

.pageTitle {
	text-align: center;
	font-family: serif;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 15px;
	font-style: italic;
}

.budget-search-box-label {
	font-style: italic;
	font-weight: bold;
	font-family: serif;
	font-size: 15px;
	color: grey;
}

.budget-search-box-input {
	float: right;
}

#budgetReportGenerateReportButton {
	float: right;
}

#search-bar-container {
	display: flex;
	border: solid black 1px;
	margin-bottom: 20px;
	width: 80%;
	margin: auto;
	padding: 10px;
}

main {
	display: flex !important;
}

.budgetPageContainer {
	flex: 1;
}

aside {
	flex: 0;
}

#budgetChartGraph {
	padding-top: 10px;
	display: flex;
	width: 80%;
	margin: auto;
}

#budgetGridContainer {
	flex: 1;
	padding-top: 10px;
	visibility: hidden;
}

#budgetChartContainer {
	flex: 0;
}

.invalid-view{
	color: red;
	font-weight: bold;
	display: none;
	margin-top: -18.5%;
	margin-left: 45%;
	position: relative;
	z-index: 3;
}

@media only screen and (min-device-width : 768px) and (max-device-width:
	1024px) {
	main { //
		display: block !important;
	}
	#budgetChartGraph {
		display: block;
		width: 100%;
		margin: auto;
	}
	#budgetGridContainer {
		overflow-x: auto;
		overflow-y: hidden;
		width: 80%;
		margin: auto;
		padding: 5px;
	}
	.budgetPageContainer {
		width: 100%;
	}
	#search-bar-container {
		display: flex;
		border: solid black 1px;
		margin-bottom: 20px;
		width: 80%;
		margin: auto;
		padding: 10px;
	}
	#budgetGridContainer {
		overflow-x: auto;
		overflow-y: hidden;
		width: 80%;
		margin: auto;
		padding: 5px;
	}
	.ng-scope {
		flex: 1;
	}
	.hideDownloadDiv {
		margin: auto;
		margin-top: -80px;
	}
	#budgetChartContainer {
		padding-bottom: 20px;
		padding-top: 20px;
		margin-left: 20px;
	}
	.search-bar-column {
		padding: 5px;
	}
	.invalid-view{
		margin-top: -47.5%;
		margin-left: 38%;
	}
}

/* Iphone 5 */
@media only screen and (min-device-width : 320px) and (max-device-width:
	568px) {
	#budgetChartGraph {
		display: flex;
		width: 100%;
		margin: auto;
	}
	.budgetPageContainer {
		width: 100%;
	}
	#search-bar-container {
		display: flex;
		border: solid black 1px;
		margin-bottom: 20px;
		width: 100%;
		margin: auto;
		padding: 10px;
	}
	#budgetGridContainer {
		overflow-x: auto;
		overflow-y: hidden;
		margin: auto;
		padding: 20px;
		position: absolute;
		width: 100%;
	}
	#budgetGridContainer {
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		margin: auto;
		padding: 5px;
		padding-top: 25px;
	}
	.hideDownloadDiv {
		margin: auto;
	}
	#budgetChartGraph {
		display: block;
		width: 100%;
		margin: auto;
	}
	.budget-search-box-input {
		float: left;
	}
	.search-bar-column {
		padding: 5px;
	}
	#budgetReportGenerateReportButton {
		margin-top: 10px;
	}
	.invalid-view{
		margin-top: -90%;
		margin-left: 20%;
	}
}