body {
	margin: 0px;
	padding: 0px;
}
.spacerDiv{
 height: 50px;
 display: none;
}
.headerContainer{
	font-family: serif;
	font-style: italic;
}
header {
	
	witdh:100vw;
}


#welcomeMessage {
	margin: 0;
}

.headerContainer {
	height: 50px;
	display: flex;
	padding: 0;
	background-color: #5F6060;
	color: white;
}

.headerRight {
	height: 100%;
	width:100%;
	text-align: left;
	flex: 1;
	font-size: 14pt;
	margin-left: 15px;
}

td {
    padding: 0px;
}
.loginRegisterDiv{
	padding-left: 2px;
}


.headerRight a {
	color: white;
	padding-right: 20px;
	
}

@media(max-width: 768px) 
{
	.headerContainer{
		position: fixed;
		width:100%;
		left: 0px;
		top: 0px;
		z-index: 500;
 	}
	.headerRight 
	{
	
		font-size: 12pt;
	}
	.loginRegisterDiv{
	margin-bottom: 5px;
	}
	.spacerDiv{
	display: block;
	}
}