body {
	margin: 0px;
	padding: 0px;
}

header {
	background-color: #5F6060;
	color: white;
	witdh:100vw;
}


#welcomeMessage {
	margin: 0;
}

.headerContainer {
	height: 50px;
	display: flex;
	padding: 0;
	margin-right: 25px;
}

.headerRight {
	height: 100%;
	width:100%;
	text-align: left;
	flex: 1;
	font-size: 14pt;
	margin-left: 15px;
}

td {
    padding: 0px;
}
.loginRegisterDiv{
	padding-left: 2px;
}


.headerRight a {
	color: white;
	padding-right: 20px;
	
}

@media(max-width: 768px) 
{
	.headerRight 
	{
	
		font-size: 12pt;
	}
	.loginRegisterDiv{
	margin-bottom: 5px;
	}
}