#holidays-content{
	margin-top: 5px;
	display: flex;
}
#holiday-table-title{
	font-family: serif;
	font-style: italic;
	text-align: center;
	padding-top: 15px;
	margin-bottom: 30px;
}
#holidays-table{
	flex: 9;
}
td.ui-widget-header.first{
	display: none;
}
td.ui-widget-content.first{
	display: none;
}
td.ui-widget-header{
	border: none;
	background: #5F6060;
	border-right: grey solid 1px;
	font-size: 1.25em;
}
.ui-widget-content {
	background: none !important;
}
aside{
	flex: 0;
}
button.save_button{
	background-color: transparent;
	width: 30px;
	height: 30px;
	border: 0;
	background-repeat: no-repeat;
	padding-right: 50px;
	background-size: 100%;
	background-size: 30px auto;
	background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Save_font_awesome.svg/512px-Save_font_awesome.svg.png");
}
button.delete_button{
	background-color: transparent;
	width: 30px;
	height: 30px;
	border: 0;
	background-size: 100%;
	background-size: 30px auto;
	background-image: url("http://www.dickssanitation.com/site_assets/trash.png");
}
button.insert
{
    //height: 42px !important;
    //width: auto !important;
}
button.insert .ui-icon-insert
{
   // width: 32px;
    //height: 32px;
    /* margin-top: -0px !important; */
}
button.insert .ui-button-text
{
    //padding-left: 48px;
}
button.append, button.removeLast, button.remove, button.moveUp
{
    //width: auto !important;
    //height: auto !important;
}
button.append{
	float: right;
	//background-color: #5F6060;
	//color: white;
	//border: none;
	//padding-left: 20px;
	//padding-right: 20px;
	//height: auto;
}
#tblAppendGrid{
	width: 100%;
}
thead.ui-widget-header{
	border: none;
}
#tblAppendGrid_FederalHoliday_td_head, #tblAppendGrid_Date_td_head, #tblAppendGrid_DayofWeek_td_head{
	padding-left: 5px;
	font-family: serif;
	color: lightgrey;
}
.ui-widget-content tr {
	border-bottom: #5F6060 solid 2px;
}
tfoot.ui-widget-header{
	border: none;
}
#tblAppendGrid_footer_td{
	background-color: #F2F2F2;
}
input {
	border: none;
	background-color: transparent;
	padding-top: 7px;
}
tbody td.ui-widget-content:nth-child(2){
	background: rgb(236,236,236) !important;
}
.ui-widget-content tr:nth-child(even) {
	background: rgb(242, 242, 242);
}
.ui-datepicker-calendar{
	background: white;
}
.ui-datepicker-calendar tr{
	border: none;
}
#ui-datepicker-div{
	padding: 0;
}
#save_dialog{
	display: none;
	background: white !important;
}
.ui-dialog{
	background: white !important;
	padding: 0;
	margin: auto;
	border: none !important;
}
button.ui-dialog-titlebar-close{
	display: none;
}
.ui-dialog-titlebar{
	background: none !important;
	background-color: #5F6060 !important;
	border: none;
	color: white;
}
.ui-widget-overlay{
	background: grey;
	opacity: 0.5;
}
@media only screen and (max-width: 320px) {
	button.save_button{
		padding-right: 5px;
	}
}