@CHARSET "ISO-8859-1";

.nav-icon-image-container
{
	position: relative;
	left: calc(100% - 50px);
	display: inline-block;
	cursor: pointer;
	margin: 5px 0px;
}
.nav-icon-image-shadow
{
	box-shadow: 0px 0px 10px #888888;
}

#navIconLinks
{
	position: relative;
}

#navIconLinksList
{
	list-style: none;
	margin: 0;
	padding-left: 0;
	padding-right: 5px;
}
@media(max-width: 769px) 
{
	#navIconLinksList
	{
		background-color: red;
		display: none;
	}
}
.nav-icon-image
{
	width: 50px;
	height: 50px;
}
#navAdminSubModal
{
	position: absolute;
	padding: 30px 0px 30px 30px;
	left: calc(100% - 260px);
	bottom: calc(100% - 160px);
	display: none;
}
#navAdminSubModalImage
{
	width: 180px;
	height: 160px;
	opacity: 0.85;
	z-index: 10000;
}
#adminNavSubModalTextContainer
{
	position: absolute;
	padding-left: 7px;
	font-style: italic;
	font-weight: bold;
	font-family: serif;
	font-size: 15px;
	opacity: 1;
	z-index: 3;
}
.admin-nav-sub-modal-text-container
{
	margin-top: 27px;
}

#navReportsSubModal
{
	position: absolute;
	padding: 30px 0px 30px 30px;
	left: calc(100% - 260px);
	bottom: calc(100% - 110px);
	display: none;
}
#navReportsSubModalImage
{
	width: 180px;
	height: 80px;
	opacity: 0.85;
	z-index: 1000;
}
#reportsNavSubModalTextContainer
{
	position: absolute;
	padding-left: 7px;
	font-style: italic;
	font-weight: bold;
	font-family: serif;
	font-size: 15px;
	opacity: 1;
	z-index: 1000;
}
.reports-nav-sub-modal-text-container
{
	margin-top: 15px;
}

.nav-sub-modal-text-link:link 
{
    color: grey;
    text-decoration: none;
}
.nav-sub-modal-text-link:visited 
{
    color: grey;
    text-decoration: none;
}
.nav-sub-modal-text-link:hover 
{
    color: grey;
    text-decoration: none;
}
.nav-sub-modal-text-link:active 
{
    color: grey;
    text-decoration: none;
}

/*sidebar styles*/
@media(min-width: 769px) 
{
	#navIconSidebarContainer
	{
		display: none;
	}
}
#navIconSidebarContainer
{
	position: relative;
	height: 100%;
}
#responsiveNavHamburgerButton
{
	font-weight: bold;
	font-size: 30px;
	position: fixed;
	left: calc(100% - 30px - 10px);
	top: 10px;
	z-index: 1000;
	cursor: pointer;
	color: white;
}
.nav-sidebar-icon-image-container
{
	position: relative;
	left: calc(50% - 30px);
	display: inline-block;
	cursor: pointer;
	margin: 10% 0px;
}
.nav-sidebar-icon-image
{
	width: 60px;
	height: 60px;
}
#navSidebarIconLinksList
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.responsive-nav-sidebar
{
	z-index: 1000;
	position: fixed;
	height: 100%;
	width: 40%;
	top: 50px;
	left: 60%;
	overflow: auto;
	background-color:rgba(95, 96, 104, 0.7);
	//background-color: #5F6068;
}
#responsiveNavCloseContainer
{
	background-color: red;
}
.register-nav-sidebar-sub-text-container
{
	font-size: 3vw;
	text-align: center;
	margin: 10% 0 10% 0;
}
.admin-nav-sidebar-sub-text-container
{
	font-size: 3vw;
	text-align: center;
	margin: 10% 0 10% 0;
}
.nav-sidebar-sub-list
{
	padding: 0;
}
.nav-sidebar-sub-text-link:link 
{
    color: white;
    text-decoration: none;
}
.nav-sidebar-sub-text-link:visited 
{
    color: white;
    text-decoration: none;
}
.nav-sidebar-sub-text-link:hover 
{
    color: white;
    text-decoration: none;
}
.nav-sidebar-sub-text-link:active 
{
    color: white;
    text-decoration: none;
}
.responsive-nav-animate-right
{
  animation: animateright 0.2s;
}
@keyframes animateright 
{
  from 
  {
    left: 100%;
    opacity: 0;
  }

  to 
  {
    left: 60%;
    opacity: 1;
  }
}
.nav-link-option-container
{
	position: relative;
}