@CHARSET "ISO-8859-1";

.nav-icon-image-container
{
	position: relative;
	left: calc(100% - 50px);
	display: inline-block;
	cursor: pointer;
	margin: 5px 0px;
}
.nav-icon-image-shadow
{
	box-shadow: 0px 0px 10px #888888;
}

#navIconLinks
{
	position: relative;
}

#navIconLinksList
{
	list-style: none;
	margin: 0;
	padding-right: 5px;
}
@media(max-width: 768px) 
{
	#navIconLinksList
	{
		background-color: red;
		display: none;
	}
}
.nav-icon-image
{
	width: 50px;
	height: 50px;
}
#navAdminSubModal
{
	position: absolute;
	padding: 30px 0px 30px 30px;
	left: calc(100% - 265px);
	bottom: calc(100% - 355px);
	display: none;
}
#navAdminSubModalImage
{
	width: 180px;
	height: 160px;
	opacity: 0.5;
	z-index: 2;
}
#adminNavSubModalTextContainer
{
	position: absolute;
	padding-left: 7px;
	font-style: italic;
	font-weight: bold;
	font-family: serif;
	font-size: 15px;
	opacity: 1;
	z-index: 3;
}
.admin-nav-sub-modal-text-container
{
	margin-top: 27px;
}

#navReportsSubModal
{
	position: absolute;
	padding: 30px 0px 30px 30px;
	left: calc(100% - 265px);
	bottom: calc(100% - 241px);
	display: none;
}
#navReportsSubModalImage
{
	width: 180px;
	height: 80px;
	opacity: 0.5;
	z-index: 2;
}
#reportsNavSubModalTextContainer
{
	position: absolute;
	padding-left: 7px;
	font-style: italic;
	font-weight: bold;
	font-family: serif;
	font-size: 15px;
	opacity: 1;
	z-index: 3;
}
.reports-nav-sub-modal-text-container
{
	margin-top: 15px;
}

.nav-sub-modal-text-link:link 
{
    color: grey;
    text-decoration: none;
}
.nav-sub-modal-text-link:visited 
{
    color: grey;
    text-decoration: none;
}
.nav-sub-modal-text-link:hover 
{
    color: grey;
    text-decoration: none;
}
.nav-sub-modal-text-link:active 
{
    color: grey;
    text-decoration: none;
}

/*sidebar styles*/
@media(min-width: 768px) 
{
	#navIconSidebarContainer
	{
		display: none;
	}
}
#responsiveNavHamburgerButton
{
	font-weight: bold;
	font-size: 30px;
	position: fixed;
	left: calc(100% - 30px - 10px);
	top: 10px;
	z-index: 5;
	cursor: pointer;
	color: white;}
.nav-sidebar-icon-image-container
{
	position: relative;
	left: calc(30% - 30px);
	display: inline-block;
	cursor: pointer;
	margin: 10% 0px;
}
.nav-sidebar-icon-image
{
	width: 60px;
	height: 60px;
}
#navSidebarIconLinksList
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.responsive-nav-sidebar
{
	position: fixed;
	height: 100%;
	width: 30%;
	left: 70%;
	//top: 0px;
	background-color: #5F6060;
}
#responsiveNavClose
{
	color: white;
	font-size: 20px;
	position: relative;
	left: calc(100% - 25px);
	padding-top: 5px;
	cursor: pointer;
}