@CHARSET "ISO-8859-1";

select {
	background-color: #605C68;
	color: #CACACA;
	width: 115px;
	height: 25px;
}

.search{
	display: inline;
}

.searchContainer{
	margin-left: 30%;
	padding-top: 5px;
}

.searchBar{
	width: 40%;
}

.search-icon-container{
	display: inline;
}

.search-icon{
	font-size: 1.8em !important;
	color: #8A8698;
	position: relative;
	top: 6px;
	cursor: pointer;
}

.productContainer{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 100%
}

.productContainerCard
{
	flex: 1;
	padding: 5px;
}

#productSearchAndNavContainer
{
	display: flex;
}
#productSearchContainer
{
	flex: 11;
}
#productSearchNavContainer
{
	flex: 1;
}

#likedLimit{
	display: none;
	z-index: 3;
	position: absolute;
	padding: 5px;
	margin-left: 10%;
	border: 1px solid red;
	color: red;
	background-color: white;
}

/* Iphone 5 */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px){
	select {
		width: 20%;
	}
	
	.searchContainer{
		margin-left: 10%;
	}
	#likedLimit{
		margin-left: 2%;
	}
}

/* Ipad */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){
	.searchContainer{
		margin-left: 10%;
	}
}



/*postion absolute*/
/* Ipad Iphone*/
@media only screen
and (min-device-width : 300px)
and (max-device-width : 1024px) {
	#productSearchNavContainer{
		position: absolute;
	}
	.searchBar{
		width: 60%;
	}

}

