@CHARSET "ISO-8859-1";

.productCard{
	font-family: Calibri, sans-serif;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.likesAndPrice{
	font-style: italic;
	padding: 7px 0px 2px 20px;
	font-size: 16px;
}

.glyphicon{
	color:#AF4B33
}

.nameLabel{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1.5rem;
}

.imageContainer{
	margin: auto;
	text-align: center;
}

/* Desktop */
@media (min-device-width: 1025px)  {
	.productCard{
		width: 180px;
		height: 260px;
		margin-top: 10px;
		padding-bottom: 10px;
		font-size: 10px;
		margin-left: 10px;
		margin-right: 10px;
		position: relative;
	}

	.productImage{
		width: 100px;
		height: 100px;
		margin-top: 5px;
		padding-top: 5px;
		padding-bottom: 2px;
	}

	.productLabel{
		margin:auto;
		padding-top: 20px;
		text-align: center;
		height: 95px;
		border-bottom: solid black 1px;
	}
	
	.add-to-cart-btn-container{
		text-align: center;
	}

	.addToCartBtn{
		margin: auto;
		width: 70%;
		font-size: 1.25em;
		color: white;
		background-color: #928EA1;
		background: linear-gradient(#928EA1, #ABA5BC);
		border: none;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
		padding: 5px;
	}

	.nameLabel{
		font-size: 12px;
	}
}

/* Ipad */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
	.productCard{
		width: 270px;
		height: 400px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: 25px;
		margin-left: 25px;
		padding-bottom: 10px;
		position: relative;
	}

	.productImage{
		width: 200px;
		height: 175px;
		margin: auto;
		margin-top: 10px;
		padding-top: 5px;
		padding-bottom: 2px;
	}

	.productLabel{
		margin:auto;
		text-align: center;
		height: 140px;
		border-bottom: solid black 1px;
	}

	.addToCartBtn{
		margin-left:90px;
	}
	

	.nameLabel{
		font-size: 2rem;
	}
}

/* Iphone 5 */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
	.productCard{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
		width: 250px;
		height: 350px;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-bottom: 10px;
		position: relative;
	}

	.productImage{
		width: 200px;
		height: 175px;
		margin: auto;
		margin-top: 10px;
		padding-top: 5px;
		padding-bottom: 2px;
	}

	.productLabel{
		margin:auto;
		text-align: center;
		height: 92px;
		border-bottom: solid black 1px;
	}

	.addToCartBtn{
		margin-left:80px;
	}

	.imageContainer{
		padding-left: 25px;
	}
}

.likes-modal{
	display: none;
	z-index: 3;
	position: absolute;
	border: 1px dotted gray;
	background-color: white;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 20px;
	margin-top: -70px;
	opacity: .85;

}
