#addToCartButton {
	height: 50px;
	width: 200px;
	background-color: #5F6060;
	color: white;
	margin-left: 20px;
	box-shadow: 2px 1px 4px 0px grey;
}

.breadCrumbs {
	margin-bottom: 10px;
}

.breadCrumbs a {
	text-decoration: underline;
	color: gray;
	font-size: 1.25rem;
	margin-bottom: 10px;
}
.pageTitle{
	text-align: center;
	font-family: serif;
	font-style: italic;
	margin: auto;
	margin-bottom: 30px;
}
.errorMessage{
	
	display: none;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color:red;
    font-family: Helvetica, Arial, sans-serif;
}

.successMessage{
	
	display: none;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color:green;
    font-family: Helvetica, Arial, sans-serif;
}

.productLabel {
	font-family: serif;
	font-style: italic;
}

.flexBoxContainer {
	display: flex;
}

.productDetailsPageDiv {
	flex: 7;
}

.productDetailsMainContianer {
	border: 1px solid lightgray;
	width: 760px;
	margin: auto;
	margin-top: 10px;
	padding: 10px;
}

aside {
	flex: 1;
}

.imgAndOrderInfoContainer {
	display: flex;
	flex-wrap: wrap;
}

.orderInfoContainer {
	margin-top: 30px;
	margin-left: 100px;
}

.likesAndPriceContiner {
	margin-bottom: 70px;
}

.priceContiner {
	font-size: 20pt;
	color: red;
	margin-right: 50px;
	font-family: Calibri, sans-serif;
	font-style: italic;
	font-weight: bold;
}

.likesContainer {
	display: inline-block;
}

.longDescrip {
	margin-left: 40px;
}

.clickable-like {
	cursor: pointer;
	display: inline-block;
}

.likesCount {
	display: inline-block;
	position: relative;
	top: -7px;
	right: 0px;
}

.productPictureContainer {
	width: 300px;
	height: 200px;
	margin-bottom: 10px;
}

.titleText {
	font-size: 16pt;
	font-weight: bold;
}

.quantityInput {
	width: 50px;
}

.glyphicon {
	color: #AF4B33;
	font-size: 16pt;
}

.likes-modal {
display: none;
	z-index: 3;
	position: absolute;
	border: 1px solid black;
	background-color: white;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 170px;
	margin-top: -45px;
	opacity: .85;
	
	}

@media ( max-width : 769px) {
	aside {
		width: 0px;
		height: 0px;
		position: absolute;
	}
}

@media ( max-width : 500px) {
	aside {
		width: 0px;
		height: 0px;
		position: absolute;
	}
	.productDetailsMainContianer {
		width: 300px;
	}
	.orderInfoContainer {
		margin-top: 20px;
		margin: auto;
	}
	.likesAndPriceContiner {
		margin-bottom: 20px;
		margin-left: 15px;
	}
	#addToCartButton {
		margin: auto;
		margin-top: 10px;
	}
	.orderFormContainer {
		margin-bottom: 10px;
	}
	.longDescrip {
		margin-left: 0px;
		text-align: center;
	}
	.titleText {
		margin-left: 0px;
		text-align: center;
	}
	.imgAndOrderInfoContainer {
		margin-left: 35px;
	}
	label.productLabel {
		margin-left: 40px;
	}
}