.breadCrumbs{
  color: lightgrey;
  font-size: 1rem;
}
.flexBoxContainer {
    display: flex;
}
.productDetailsMainContianer{
flex:7;
}

aside{
flex:1;
}
.imgAndOrderInfoContainer{
  display: flex;
  flex-wrap: wrap;
}
.productPictureContainer{
  width: 200px;
  height:200px;
}

.quantityInput {
    width: 50px;
}