#addToCartButton{
	height: 50px;
	width: 200px;
	background-color: #5F6060;
	color: white;	
	margin-left: 20px;
}
.breadCrumbs{
 
  margin-bottom: 10px;
  
}

.breadCrumbs a {
    text-decoration: underline;
    color: gray;
    font-size: 1.25rem;
  	margin-bottom: 10px;
}
.productLabel{
	font-family: serif;
	font-style: italic;
}
.flexBoxContainer {
    display: flex;
}

.productDetailsPageDiv{
	flex:7;
}

.productDetailsMainContianer{
border: 1px solid lightgray;
width: 760px;
margin: auto;
margin-top: 10px;
padding: 10px;
}

aside{
flex:1;
}

.imgAndOrderInfoContainer{
  display: flex;
  flex-wrap: wrap;
}

.orderInfoContainer{
margin-top: 30px;
margin-left: 100px;
}

.likesAndPriceContiner {
    
    margin-bottom: 70px;
}

.priceContiner{
	font-size: 20pt;
	color: red;
	margin-right: 50px;
	font-family: Calibri, sans-serif;
	font-style: italic;
}
.likesContainer{
display:inline-block;

}
.longDescrip {
    margin-left: 60px;
}


.clickable-like{
	cursor: pointer;
	display:inline-block;
}
.likesCount{
    display: inline-block;
    position: relative;
    top: -7px;
    right: 0px;
}


.productPictureContainer{
  width: 300px;
  height:200px;
  margin-bottom: 10px;
}
.titleText {
    font-size: 16pt;
    font-weight: bold;
}
.quantityInput {
    width: 50px;
}

.glyphicon{
color: #AF4B33;
font-size: 16pt;
}

.likes-modal{
	display: none;
	z-index: 3;
	position: absolute;
	border: 1px dotted gray;
	background-color: white;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 20px;
	margin-top: -70px;
	opacity: .85;

}