@CHARSET "ISO-8859-1";

select {
	background-color: #605C68;
	color: #CACACA;
	width: 115px;
}

.search{
	display: inline;
}

.searchContainer{
	margin-left: 20%;
	padding-top: 5px;
}

.searchBar{
	width: 40%;
}

.productContainer{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 100%
}

.productContainerCard
{
	flex: 1;
	padding: 5px;
}

#productSearchAndNavContainer
{
	display: flex;
}
#productSearchContainer
{
	flex: 11;
}
#productSearchNavContainer
{
	flex: 1;
}

.clickable-like{
	cursor: pointer;
}

.price-tag{
	color: #FF241B;
	display: inline-block;
	padding-left: 10px;
}

.num-of-likes{
	display: inline-block;
}

