html body{
	font-family: serif;
}
.error{
	color: red;
}
#email-taken-error{
	display: none;
}
#invalid-email{
	display: none;
}
#registration-title{
	color: #5F6060;
}
.registration-label{
	color: #5F6060;
	font-style: italic;
}
.registration-field{
	border: black 1px solid;
}
#registration-button{
	margin-top: 10px;
	border: none;
	background-color: #5F6060;
	color: lightgrey;
	width: 75px;
	padding: 5px;
}
#email-error-spacing{
	display: none;
}

#browse-button{
	display: inline-block;
	font-family: arial;
	font-size: .8em;
	margin-top: 5px;
	padding: 5px;
	border: black 1px solid;
	width: 75px;
	text-align: center;
}
#chosen-file{
	width: 100px;
	font-size: .75em;
}
@media only screen and (min-width: 300px) {
	#registration-title{
		font-size: 1.5em;
		padding-bottom: 20px;
		font-style: italic;
		text-align: center;
		padding-top: 30px;
	}
	#registration-form{
		display: flex;
	}
	#registration-labels{
		margin-top: 5px;
		padding-left: 15px;
		flex: 3;
	}
	#registration-inputs-container{
		padding-top: 5%;
		flex: 4;
	}
	.registration-field{
		margin-top: 5px;
	}
	input{
		max-width: 150px;
		padding-bottom: 4%;
	}
	.registration-label{
		display: inline-block;
		padding-bottom: 9%;
	}
	#registration-button{
		position: absolute;
		right: 23px;
	}
	.error{
		margin-top: -5px;
		font-size: .75em;
	}
	#location-field{
		overflow: hidden;
	}
	#password-error{
		
	}
	.error-above-register{
		height: 15px;
	}
	#email-error-spacing{
		
	}
}
@media only screen and (min-width: 768px) {
	body{
		font-size: 1.5em;
	}
	#registration-title{
		font-size: 1.5em;
		padding-bottom: 20px;
		font-style: italic;
		text-align: center;
		padding-top: 30px;
	}
	#registration-form{
		display: flex;
	}
	#registration-labels{
		padding-left: 15%;
		flex: 2;
	}
	#registration-inputs-container{
		padding-top: 3%;
		flex: 4;
	}
	.registration-field{
		margin-bottom: 5px;
	}
	input{
		max-width: 200px;
		font-size: 1em;
	}
	.registration-label{
		padding-top: 7%;
		display: inline-block;
		padding-bottom: 5%;
	}
	#registration-button{
		position: absolute;
		right: 20%;
		padding: 10px;
		width: 120px;
	}
	.error{
		font-size: .8em;
	}
	#photo-field{
		max-width: 300px;
	}
	#location-field{
		height: 45px;
	}
	#password-error{
		display: none;
	}
	.error-div{
		display: none;
	}
	#email-error-spacing{
		display: none !important;
	}
}
@media only screen and (min-width: 800px) {
	body{
		font-size: 1em;
	}
	#registration-title{
		padding-top: 40px;
		font-size: 2em;
	}
	#registration-form{
		display: flex;
	}
	#registration-labels{
		flex: 2;
		padding: 0;
		padding-left: 25%;
		margin-top: -20px;
	}
	#registration-inputs-container{
		padding: 0;
		flex: 5;
	}
	.error{
		font-size: 1em;
	}
	#location-field{
		height: auto;
	}
	.registration-field{
		padding: 0;
		margin-bottom: 5px;
	}
	input{
		max-width: 200px;
		font-size: 1em;
	}
	.registration-label{
		padding-top: 0;
		padding-bottom: 13px;
	}
	#registration-button{
		display: relative;
		left: 55%;
		width: 100px;
	}
	#profile-label{
		margin-top: 10px;
	}
	#password-error{
		display: none;
	}
	.error-div{
		display: none;
	}
	#email-error-spacing{
		display: none !important;
	}
}


