
.grid{
  font-family: Calibri;
  border: none;
  height:300px;
  margin-left: 10px;
  margin-top: 10px;
}

.super-admin-error{
  font-family: serif;
  margin: 10px;
  color:red;
  font-weight: bold;
  text-align: center;
}

.super-admin-container-nav{
    display:flex;
}

.super-admin-container{
  flex: 10;
}

/*.super-admin-nav{
  flex: 1;
}*/

.super-admin-budget-table{

}

#locationSuccess{
  z-index: 3;
  position: absolute;
  top:105px;
  left:33vw;
  padding: 5px;
  margin-left: 10%;
  border: 1px solid green;
  color: green;
  background-color: white;
}

#locationFailure{
  z-index: 3;
  position: absolute;
  top:105px;
  left:33vw;
  padding: 5px;
  margin-left: 10%;
  color: red;
}

#assignSuccess{
  z-index: 3;
  position: absolute;
  top:105px;
  left:33vw;
  padding: 5px;
  margin-left: 10%;
  border: 1px solid green;
  color: green;
  background-color: white;
}

#assignFailure{
  z-index: 3;
  position: absolute;
  top:105px;
  left:33vw;
  padding: 5px;
  margin-left: 10%;
  color: red;
}

#budgetSuccess{
  z-index: 3;
  position: absolute;
  top:105px;
  left:33vw;
  padding: 5px;
  margin-left: 10%;
  border: 1px solid green;
  color: green;
  background-color: white;
}

#budgetFailure{
  z-index: 3;
  position: absolute;
  top:105px;
  left:33vw;
  padding: 5px;
  margin-left: 10%;
  color: red;
}

.super-admin-button {
  width: 110px;
  height: 30px;
  margin: 2px;
  color: white;
  background-color: #555;
  box-shadow: 2px 1px 4px 0px grey;
  border: none;
}

.super-admin-button-container {
  margin-left: 48vw;
}

.super-admin-button:hover{
  color: #FAEBD7;
}

/* grid changes */
.ui-grid-top-panel{
  background:none;
}

.ui-grid-header-cell{
  border:none;
}

.ngHeaderSortColumnLocation{
  color:white;
  background-color: #5C5C5C;
  height: 35px;
  font-size: 14px;
  text-align: center;
  line-height: 35px;
  border: none;
}

.ngHeaderSortColumnName{
  color:white;
  background-color: #555257;
  height: 35px;
  font-size: 14px;
  text-align: center;
  line-height: 35px;
  border: none;
}

.ui-grid-canvas{
  padding:0px;
}

.ui-grid-header{
  border:none;
}

.location-row{
  background-color: #ECECEC !important;
  text-align: center;
  font-weight: bold;
  margin: auto;
  height: 30px;
  line-height: 45px;
  border: none;
  border-top: 1px solid black;
}

.name-row{
  /*background-color: #F2F2F2 !important;*/
  font-family: calibri;
  text-align: center;
  margin: auto;
  height: 30px;
  line-height: 35px;
  border: none;
  border-top: 1px solid black;
}

div.ui-grid-cell input{
  width: 90px;
}

.super-admin-modal-group{
  margin: auto;
  width: 300px;
  display: flex;
}

.super-admin-modal-label{
  flex: 2;
  line-height: 38px;
  height: 40px;
}

.super-admin-modal-text-input{
  width: 160px !important;
  height: 40px;
}

.allotted-budget-input{
  text-align: right;
}

/* Desktop */
@media (min-width : 1024px) {
  .grid{
    width:775px;
    margin-top:5px;
    margin-right: 0;
    margin-left: 0;
    /*height: 150px;*/
  }

  .super-admin-budget-table{
	width: 75%;
	margin: auto;
  }

  .super-admin-container {
    margin-left: 5px;
  }

  .ui-grid-viewport{

  }
  #grid1{
  	margin: auto;
  }
  .pageTitle{
  	text-align: center;
  	font-family: serif;
  	font-style: italic;
  	margin: auto;
  	margin-bottom: 30px;
  }

  .modal-footer{
    height:60px;
  }
}

/* Ipad */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .grid{
    width:750px;
    margin-left:20px;
    margin-top:5px;
    height: 775px;
  }

  .super-admin-budget-table{
    height: 800px;
  }

  .super-admin-button {
    width: 150px;
    height: 60px;
    margin: 4px;
  }

  .super-admin-button-container{
    margin-left: 280px;
    float:none;
  }

  .super-admin-modal-group{
    margin: auto;
    width: 300px;
    display: flex;
  }

  .super-admin-modal-label{
    flex: 2;
    line-height: 38px;
    height: 40px;
  }

  .super-admin-modal-text-input{
    width: 160px !important;
    height: 40px;
  }

  .pageTitle{
  	text-align: center;
  	font-family: serif;
  	font-style: italic;
  	margin: auto;
  	margin-bottom: 30px;
  }

  #locationSuccess{
    left: 220px;
  }

  #locationFailure{
    left: 235px;
  }

  #assignSuccess{
    left: 215px;
  }

  #assignFailure{
    left:150px;
  }

  #budgetSuccess{
    left: 220px;
  }

  #budgetFailure{
    left:205px;
  }
}

/* Iphone 5 */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .grid{
    width:100%;
    margin:0px;
    margin-top:5px;
    height: 440px;
  }

  .super-admin-budget-table{
    height: 350px;
  }

  .super-admin-button {
    width: 93px;
    height: 60px;
    /*margin-right: 7px;*/
  }

  .super-admin-button-container{
    float:none;
    margin-left:10px;
  }

  .super-admin-modal-group{
    margin: auto;
    width: 250px;
    display: flex;
  }

  .super-admin-modal-label{
    flex: 2;
    line-height: 38px;
    height: 40px;
  }

  .super-admin-modal-message{
    flex: 2;
    line-height: 20px;
    height: 40px;
  }

  .super-admin-modal-text-input{
    width: 150px !important;
    height: 40px;
  }

  .pageTitle{
  	text-align: center;
  	font-family: serif;
  	font-style: italic;
  	margin: auto;
  	margin-bottom: 30px;
  }

  #locationSuccess{
    left: 35px;
  }

  #locationFailure{
    left: 50px;
  }

  #assignSuccess{
    left: 35px;
  }

  #assignFailure{
    left:10px;
    top: 95px;
  }

  #budgetSuccess{
    left: 40px;
  }

  #budgetFailure{
    left:25px;
  }

}
