#visitors-content{
	display: flex;
}
#visitors-form{
	flex: 9;
	display: flex;
}
aside{
	flex: 0;
}
#visitors-labels{
	flex: 2;
}
#visitors-input-fields{
	flex: 4;
}
.error{
	color: red;
}
#visitors-title{
	position: absolute;
	color: #5F6060;
	font-family: serif;
	font-style: italic;
	text-align: center;
	width: 100%;
}
.visitor-form-label{
	font-family: serif;
	font-style: italic;
	color: #5F6060;
}
label{
	font-weight: 100 !important;
}
#visitor-add-button{
	/*
	background-color: #5F6060;
	color: white;
	border: none;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
	*/
	
}
@media only screen and (min-width: 300px) {
	.visitors-form-input{
		width: 175px;
	}
	#visitors-form{
		margin-top: 50px;
		margin-left: 20px;
	}
	#visitors-input-fields{
		margin-top: 15px;
	}
	#future-date{
		height: 35px;
	}
	#date-order{
		height: 35px;
	}
	#count-error{
		height: 15px;
	}
	#visitor-add-button{
		position: absolute;
		right: 25px;
	}
	.error{
		display: inline-block;
		font-size: 12px;
		max-width: 175px;
	}
	.top-padding{
		margin-top: 10px;
	}
}
@media only screen and (min-width: 768px) {
	h3{
		font-size: 32px !important;
	}
	#visitors-content{
		font-size: 2em;
	}
	#visitors-form{
		margin-top: 75px;
	}
	#visitors-labels{
		flex: 3;
		padding-left: 15%;
		margin-top: -20px;
	}
	#visitors-input-fields{
		flex: 5;
	}
	.visitors-form-input{
		width: 250px;
	}
	#visitor-add-button{
		left: 625px;
		//padding-left: 40px;
		//padding-right: 40px;
	}
	#future-date, #date-order{
		height: 50px;
	}
	#count-error{
		height: 40px;
	}
	.error{
		max-width: 250px;
		font-size: 18px;
	}
}
@media only screen and (min-width: 800px) {
	#visitors-content{
		font-size: 1.5em;
	}
	#visitors-labels{
		flex: 2;
		padding-left: 25%;
		margin-top: -30px;
	}
	#future-date, #date-order, #count-error{
		display: none;
	}
	.visitors-form-input{
		width: 250px;
		margin-bottom: 10px;
	}
	.error{
		display: inline;
		font-size: .75em;
	}
	#visitor-add-button{
		right: 470px;
		//padding-left: 40px;
		//padding-right: 40px;
	}
	.top-padding{
		margin-top: 0;
	}
	.visitor-form-label{
		margin: 0;
		padding: 0;
		height: 20px;
		margin-top: 15px;
	}
	#count-input{
		width: 150px;
		margin-right: 100px;
	}
}
@media only screen and (max-width: 769px) and (min-width: 321px)
{
	#visitor-add-button
	{
		left: 466px;
	}
}