<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>SiriusOrderClient</display-name>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.sirius.order.client.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>QueryServlet</display-name>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>com.sirius.order.client.servlets.QueryServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>BudgetServlet</display-name>
        <servlet-name>BudgetServlet</servlet-name>
        <servlet-class>com.sirius.order.client.servlets.BudgetServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>RegistrationServlet</display-name>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.sirius.order.client.servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>AttendanceServlet</display-name>
        <servlet-name>AttendanceServlet</servlet-name>
        <servlet-class>com.sirius.order.client.servlets.AttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>SuperAdminServlet</display-name>
        <servlet-name>SuperAdminServlet</servlet-name>
        <servlet-class>com.sirius.order.client.servlets.SuperAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>NavigationServlet</display-name>
        <servlet-name>NavigationServlet</servlet-name>
        <servlet-class>com.sirius.order.client.servlets.NavigationServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ProductSearchServlet</display-name>
    	<servlet-name>ProductSearchServlet</servlet-name>
    	<servlet-class>com.sirius.order.client.servlets.ProductSearchServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/QueryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BudgetServlet</servlet-name>
        <url-pattern>/BudgetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceServlet</servlet-name>
        <url-pattern>/AttendanceServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>NavigationServlet</servlet-name>
		<url-pattern>/NavigationServlet</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ProductSearchServlet</servlet-name>
    	<url-pattern>
    	/ProductSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuperAdminServlet</servlet-name>
        <url-pattern>
        /SuperAdminServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description />
        <res-ref-name>jdbc/OfficeApplicationDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>